  Numeric data type in python

In [ ]:
print(type(8))                #integer datatype
print(type(3.9))              #float
print(type("Engineering"))    #string
print(type(3j))               #complex

<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>

In [ ]:
g = 0b1001111   #binary
h = 0xAB + 0b10 #hexadecimal
l = 0o10        #octal
print(type(g))
print(g)
print(type(h))
print(h)
print(type(l))
print(l)

<class 'int'>
79
<class 'int'>
173
<class 'int'>
8

List in Python

In [ ]:
list_a = [] 
print(list_a)                       #empty list
list_b = [1,2,3,4,5]  
print(list_b)                       #integer
list_c = [1, "Rina", "Apple", 1.1] 
print(list_c)                       #mixed datatypes
print(list_c[2])
print(list_c[3])
print(list_b[3])

[]
[1, 2, 3, 4, 5]
[1, 'Rina', 'Apple', 1.1]
Apple
1.1
4

Nested List and Negative Indexing

In [10]:
ThisList = ["bat",[1,2,4], "News"]
print(ThisList)
print(ThisList[1][2])
print(ThisList[0][1])
print(ThisList[0][2])
print(ThisList[-1])           #Negative Indexing
print(ThisList[-2])
ThisList[1] = ["Ball"]        #Changing the items in list
print(ThisList)

['bat', [1, 2, 4], 'News']
4
a
t
News
[1, 2, 4]
['bat', ['Ball'], 'News']

Tuples

In [22]:
tuple_1 = ()     #Empty tuple
print(tuple_1)
tuple_2 = (9,8,7,6)   #integers
print(tuple_2)
tuple_3 = (5,7,"Laptop", 13.19)  #Mixed datatypes
print(tuple_3)
tuple_4 = (2,4,5,("bat","ball"),[3,3])   #nested tuples
print(tuple_4)

print(tuple_2[3])      #indexing
print(tuple_2[-2])     #negative indexing
print(tuple_3[2][3])   #nested indexing

()
(9, 8, 7, 6)
(5, 7, 'Laptop', 13.19)
(2, 4, 5, ('bat', 'ball'), [3, 3])
6
7
t

In [32]:
tuple = (2,3,4,[4,3])
print(tuple)
tuple[3][0] = [1,1]   #mutable item can be changed
print(tuple)

(2, 3, 4, [4, 3])
(2, 3, 4, [[1, 1], 3])

String in python

In [41]:
my_str = "Sanjivani"   #datatype string
print(type(my_str))

my_str = 'Sanjivani'      #single quotes
print(my_str)

my_str = "Sanjivani"      #double quotes
print(my_str)

my_str = '''Sanjivani'''    #Tripple quotes
print(my_str)

my_str = """ Happy Learning Journey!!!     
                        with Celebal!!!"""  #multiple line strings
print(my_str)

<class 'str'>
Sanjivani
Sanjivani
Sanjivani
 Happy Learning Journey!!!
                        with Celebal!!!

Accessing characters of string in python

In [48]:
my_str = "Javascript"
print("my_str = ", my_str)

print("my_str[1] =", my_str[1])
print("my_str[2:5] =", my_str[2:5])
print("my_str[4:8] =", my_str[4:8])
my_str = "JavaDeveloper"
print(my_str)      #Reassigned the string

my_str =  Javascript
my_str[1] = a
my_str[2:5] = vas
my_str[4:8] = scri
JavaDeveloper