Set in python

In [ ]:
set = {1,2,3,4,5,6,7}  #initializing set of integers
print(set)

my_set = {1,9,(4,4,4),"Umbrella"}  #mixed datatypes
print(my_set)

set_2 = {1,2,3,2,3,4,5,6,5,4}   #set cannot have duplicates value
print(set_2)

set.add(10)     #add element in set
print(set)

set.update([8,9,11],{13,14,15})  #Update in ascending order
print(set)

frozen_set = frozenset(set_2)    #frozen set
print(frozen_set)

{1, 2, 3, 4, 5, 6, 7}
{'Umbrella', 1, 9, (4, 4, 4)}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15}
frozenset({1, 2, 3, 4, 5, 6})

Dictionaries in python

In [ ]:
dict = {}      #empty dictiory
print(dict)

dict2 = {5:"school", 6:"bus"}  #dictionary with integer key
print(dict2)

dict3 = {"cup":"tea", 3:[4,6,9], "laptop": "coding"}  #dictionary with mixed key
print(dict3)

{}
{5: 'school', 6: 'bus'}
{'cup': 'tea', 3: [4, 6, 9], 'laptop': 'coding'}

Retrieving the elements using [ ] vs get in dictionay

In [ ]:
my_Dict = {"school": "Sanjivani", "address":"kopargaon"}
print(my_Dict)

print(my_Dict["school"])   #using [ ]

print(my_Dict.get("address"))  #using get

my_Dict["school"] = "Sharada"  #update the value
print(my_Dict)

my_Dict["class"] = "10th"   #adding item
print(my_Dict)

print(type(my_Dict))   #type of datatype

{'school': 'Sanjivani', 'address': 'kopargaon'}
Sanjivani
kopargaon
{'school': 'Sharada', 'address': 'kopargaon'}
{'school': 'Sharada', 'address': 'kopargaon', 'class': '10th'}
<class 'dict'>

function in python

In [ ]:
def greet(name):    #function with parameter
  print("Good Morning, "+ name + " Have a nice day !!")
greet("Mam")

Good Morning, Mam Have a nice day !!

In [ ]:
def Hi() :     #function without parameter
  name = input("Enter Name: ")
  if name:
    print("Hi " + name)
  else:
    print("Hi Everyone!!")
    return
Hi()

Enter Name: Gaytri
Hi Gaytri

Anonymous function

In [ ]:
double = lambda x:x*2   #anonymous function
double(2)

sum1 = lambda x, y: x + y

4

In [6]:
sum = lambda x,y: x + y
print(sum(2,2))   #calling the sum() anonymous fuction


def sum(x,y):
  return x+y

4